<div class="container">

  <div class="jumbotron">
    <h1 class="text-center">Code Snippets Saving App</h1>

    <div class="text-center" id="buttons-div">
      <a href="/"><button class="btn btn-success">Home</button></a>
      <a href="/add"><button class="btn btn-primary">Add A New Snippet</button></a>
      <a href="/search"><button class="btn btn-primary">Advanced Search</button></a>
    </div>

  </div>


  <div class="row">

    <div class="col-12 text-center">
      <h4 style="display: inline;">Filter by tag:  </h4>
      <input style="display: inline; width: 150px;" type="text" class="form-control" id="tag-input">
    </div>

  </div>

  <br>

  <div class="row">
    <div class="col-10 offset-1">
      <ul>
        {{#each snippet}}
        <li class="list-item" data-tags="{{this.tags}}">
          <h5 style="margin-bottom: 0;"><span class="label">Title:</span> <span style="text-decoration: underline;">{{this.title}}</span></h5>
          <div><span class="label">Tags:</span> <span class="tags">{{this.tags}}</span></div>
          <div>
            <pre><code class="language-javascript">{{this.code}}</code></pre>
          </div>
          <button class="btn btn-danger btn-sm delete-button" data-id="{{this.id}}">Delete</button>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <footer>
    <hr>
    <p>
      <a href="/api/all">Snippets API Data</a> |
      <a href="https://www.github.com/adnanyousef/snippet-web" target="_blank">GitHub Repo</a>
    </p>
  </footer>

  <script src="/assets/js/prism.js"></script>

</div>